<div class="toolbar" layout="row" layout-align="start center">
    <span translate="TEACHER.NEW"></span>
</div>
<!-- / CONTENT TOOLBAR -->

<!-- CONTENT -->
<md-content class="content" ms-scroll>
    <div>
        <form name="studentsForm" ng-submit="vm.save(vm.student)">
          <formly-form model="vm.student" fields="vm.formFields"
                       >

            <formly-form model="vm.course" fields="vm.courseFormFields">
              <div layout="row" layout-align="end">
                <md-button type="button" ng-click="vm.addCourse(vm.course.selectedCourse)"
                           class="md-raised md-accent"
                           aria-label="{{ COMMONS.ADD |translate }}">
                  <span translate="COMMONS.ADD"></span>
                </md-button>
              </div>


              <md-list>
                <md-list-item ng-repeat="course in vm.student.courses"
                              entity-async
                              entity-id="course.id"
                              entity-key="'courses'"
                              entity-data="courseData"
                >
                  <span>{{ courseData.name }}</span>
                  <md-button class="md-fab md-warn" aria-label="Delete" ng-show="course.$id" ng-click="vm.removeCourse(course, vm.id, vm.student.courses)"><md-icon md-font-icon="icon-delete"></md-icon></md-button>
                  <md-button class="md-fab md-warn" aria-label="Delete" ng-show="!course.$id" ng-click="vm.removeCourseFromCollection(course, vm.student.courses)"><md-icon md-font-icon="icon-delete"></md-icon></md-button>


                </md-list-item>
              </md-list>

            </formly-form>
              <md-button ng-show="vm.id" ui-sref="app.calendar({'studentId' : vm.id})"
                         class="md-raised md-primary"
                         aria-label="{{ CALENDAR.CALENDAR |translate }}">
                <span translate="CALENDAR.CALENDAR"></span>
              </md-button>

              <div layout="row" layout-align="end" >
                  <md-button type="submit"
                             class="md-raised md-primary"
                             aria-label="{{ COMMONS.SAVE |translate }}">
                      <span translate="COMMONS.SAVE"></span>
                  </md-button>
              </div>
          </formly-form>
        </form>

    </div>
</md-content>



