<md-dialog class="event-detail-dialog" aria-label="New Message">
    <md-toolbar class="md-green-A700-bg">
        <div class="md-toolbar-tools">
            <span class="title">
                <span translate="CALENDAR.ADD_PLANIFICATION"></span>
                {{vm.calendarEvent.start.format('MM/DD/YYYY')}} <span ng-if="vm.calendarEvent.end">-</span> 
                {{vm.calendarEvent.end.format('MM/DD/YYYY') || vm.calendarEvent.end }}
            </span>
            <span flex></span>

            <div class="lock-size" layout="row" layout-align="center center">
                <md-fab-speed-dial class="edit-event-button md-scale" md-direction="left" ><md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <md-icon md-font-icon="icon-menu"></md-icon>
                    </md-button></md-fab-trigger>
                <md-fab-actions>
                    <md-button ng-click="vm.editEvent(vm.calendarEvent)" 
                               aria-label="CALENDAR.EDIT_EVENT" 
                               class="md-fab md-primary md-raised md-mini">
                        <md-icon md-font-icon="icon-pencil"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-primary md-raised md-mini"
                               ng-click="vm.printEvent(vm.calendarEvent)" aria-label="PRINT"
                               translate translate-attr-aria-label="CALENDAR.PRINT">
                        <md-icon md-font-icon="icon-printer"></md-icon>
                    </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

        <div class="event-details" layout="column">

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-library-books" class="md-font icon-library-books md-default-theme" aria-hidden="true"></md-icon>
                <div layout="column" flex>
                    <strong translate="CALENDAR.COURSE_NAME"></strong>
                    <span class="h4" 
                          entity-async      
                          entity-id="vm.calendarEvent.course"
                              entity-key="'courses'"
                              entity-data="vm.courseData">{{ vm.courseData.name }}</span>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-book-open" class="md-font icon-book-open md-default-theme" aria-hidden="true"></md-icon>
                <div layout="column" flex>
                    <strong translate="CALENDAR.ADD_PLANIFICATION"></strong>
                    <ul>
                        <li><strong translate="CALENDAR.BOOK"></strong> <span class="h4">{{ vm.calendarEvent.book }}</span></li>
                        <li><strong translate="CALENDAR.SECTION"></strong> {{ vm.calendarEvent.section }}</li>
                        <li><strong translate="CALENDAR.FROM"></strong> {{ vm.calendarEvent.from}} · <strong translate="CALENDAR.TO"></strong> {{ vm.calendarEvent.to }}</li>
                    </ul>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-note-outline" class="md-font icon-note-outline md-default-theme" aria-hidden="true"></md-icon>
                <div layout="column" flex>
                    <strong translate="CALENDAR.NOTES"></strong>
                    {{ vm.calendarEvent.notes }}
                </div>
            </div>

        </div>

    </md-dialog-content>
</md-dialog>
