<md-dialog class="event-form-dialog" aria-label="New Message">
  <form role="form" name="form" novalidate>
    <md-toolbar class="md-orange-bg md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title" translate="CALENDAR.ADD_EVENT"></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                   translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <ng-form name="studentsForm">
       
          <md-input-container>
              <label translate="COMMONS.COURSES"></label>
              <md-select ng-model="vm.calendarEvent.course" required>
                  <md-option ng-value="opt.id" ng-repeat="opt in vm.studentCourses">{{ opt.name }}</md-option>
              </md-select>
          </md-input-container>
          <md-input-container>
              <md-checkbox ng-model="vm.calendarEvent.homework.completed" aria-label="Checkbox"><span translate="CALENDAR.HOMEWORK_DONE"></span></md-checkbox>
          </md-input-container>
        <md-input-container>
          <label translate="CALENDAR.BOOK_NAME"></label>
          <md-select ng-model="vm.calendarEvent.homework.book" required>
            <md-option ng-value="opt.title" ng-repeat="opt in vm.selectableBooks">{{ opt.title }}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label translate="CALENDAR.SECTION"></label>
          <md-select ng-model="vm.calendarEvent.homework.section">
            <md-option ng-value="opt.name" ng-repeat="opt in vm.homeworkSelectableSections">{{ opt.name }}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container><label translate="CALENDAR.FROM"></label><input ng-model="vm.calendarEvent.homework.from" type="text">
        </md-input-container>
        <md-input-container><label translate="CALENDAR.TO"></label> <input ng-model="vm.calendarEvent.homework.to" type="text">
        </md-input-container>

        <div layout="row">
          <h3 translate="CALENDAR.NEXT_HOMEWORK"></h3>
        </div>

        <md-input-container>
          <label translate="CALENDAR.BOOK_NAME"></label>
          <md-select ng-model="vm.calendarEvent.nextHomework.book" required>
            <md-option ng-value="opt.title" ng-repeat="opt in vm.selectableBooks">{{ opt.title }}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label translate="CALENDAR.SECTION"></label>
          <md-select ng-model="vm.calendarEvent.nextHomework.section">
            <md-option ng-value="opt.name" ng-repeat="opt in vm.nextHomeworkSelectableSections">{{ opt.name }}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container><label translate="CALENDAR.FROM"></label> <input ng-model="vm.calendarEvent.nextHomework.from" type="text">
        </md-input-container>
        <md-input-container><label translate="CALENDAR.TO"></label> <input ng-model="vm.calendarEvent.nextHomework.to" type="text">
        </md-input-container>

        <md-input-container><label translate="CALENDAR.SMALL_TEST"></label> <input ng-model="vm.calendarEvent.smallTest" type="text">
        </md-input-container>


        <md-input-container flex class="textarea-container">
          <label translate="CALENDAR.NOTES"></label>
          <textarea ng-model="vm.calendarEvent.notes" md-maxlength="250"></textarea>
        </md-input-container>
      </ng-form>

    </md-dialog-content>

    <div class="md-actions md-warn mail-form-actions" layout="row" layout-align="space-between center">
      <md-button ng-click="vm.saveEvent()" ng-disabled="form.$invalid" class="save-button md-primary md-raised" aria-label="SAVE"
                 translate="COMMONS.SAVE"
                 translate-attr-aria-label="COMMONS.SAVE">
        SAVE
      </md-button>

      <md-button class="md-icon-button md-warn" aria-label="Delete"  ng-click="vm.deleteEvent()" translate-attr-aria-label="CALENDAR.DELETE">
        <md-icon md-font-icon="icon-delete"></md-icon>
        <md-tooltip><span translate="COMMONS.DELETE">Delete</span></md-tooltip>
      </md-button>
    </div>
  </form>
</md-dialog>
