<md-dialog class="event-detail-dialog" aria-label="New Message">
    <md-toolbar class="md-orange-bg md-hue-2">
        <div class="md-toolbar-tools">
            <span class="title">
                {{vm.calendarEvent.start.format('MMMM Do YYYY')}} <span ng-if="vm.calendarEvent.end">-</span> {{vm.calendarEvent.end.format('MMMM Do YYYY')}}
            </span>
            <span flex></span>

            <div class="lock-size" layout="row" layout-align="center center">
                <md-fab-speed-dial class="edit-event-button md-scale" md-direction="left" ><md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <md-icon md-font-icon="icon-menu"></md-icon>
                    </md-button></md-fab-trigger>
                <md-fab-actions>
                    <md-button ng-click="vm.editEvent(vm.calendarEvent)" 
                               aria-label="CALENDAR.EDIT_EVENT" 
                               class="md-fab md-primary md-raised md-mini">
                        <md-icon md-font-icon="icon-pencil"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-primary md-raised md-mini"
                               ng-click="vm.printEvent(vm.calendarEvent)" aria-label="PRINT"
                               translate translate-attr-aria-label="CALENDAR.PRINT">
                        <md-icon md-font-icon="icon-printer"></md-icon>
                    </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

        <div class="event-details" layout="column">

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon ng-show="vm.calendarEvent.attendance" md-font-icon="icon-account-check"></md-icon>
                <md-icon ng-hide="vm.calendarEvent.attendance" md-font-icon="icon-account-minus"></md-icon>
                <div layout="column" flex>
                    <span translate="CALENDAR.ATTENDANCE"></span>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-library-books" class="md-font icon-library-books md-default-theme" aria-hidden="true"></md-icon>
                <div layout="column" flex>
                    <strong translate="CALENDAR.COURSE_NAME"></strong>
                    <span class="h4" 
                          entity-async      
                          entity-id="vm.calendarEvent.course"
                              entity-key="'courses'"
                              entity-data="vm.courseData">{{ vm.courseData.name }}</span>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-book-open" class="md-font icon-book-open md-default-theme" aria-hidden="true"></md-icon>
                <div layout="column" flex>
                    <strong translate="CALENDAR.HOMEWORK_TODAY"></strong>
                    <ul>
                        <li><strong translate="CALENDAR.BOOK"></strong> <span class="h4">{{ vm.calendarEvent.homework.book }}</span></li>
                        <li><strong><span translate="CALENDAR.COMPLETED"></span></strong> <span ng-show="vm.calendarEvent.homework.completed"><md-icon md-font-icon="icon-check" class="s16 md-font icon-check md-default-theme" aria-hidden="true" style="margin-top: -4px;"></md-icon></span>
                            <span ng-show="!vm.calendarEvent.homework.completed"><md-icon md-font-icon="icon-close" class="s16 md-font icon-close md-default-theme" aria-hidden="true" style="margin-top: -4px;"></md-icon></span>
                        </li>
                        <li><strong translate="CALENDAR.SECTION"></strong> {{ vm.calendarEvent.homework.section }}</li>
                        <li><strong translate="CALENDAR.FROM"></strong> {{ vm.calendarEvent.homework.from}} · <strong translate="CALENDAR.TO"></strong> {{ vm.calendarEvent.homework.to }}</li>
                    </ul>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-book-open" class="md-font icon-book-open md-default-theme" aria-hidden="true"></md-icon>
                <div layout="column" flex>
                    <strong translate="CALENDAR.NEXT_HOMEWORK"></strong>
                    <ul>
                        <li><strong translate="CALENDAR.BOOK"></strong> <span class="h4">{{ vm.calendarEvent.nextHomework.book }}</span></li>
                        <li><strong translate="CALENDAR.SECTION"></strong> {{ vm.calendarEvent.nextHomework.section }}</li>
                        <li><strong translate="CALENDAR.FROM"></strong> {{ vm.calendarEvent.nextHomework.from}} · <strong translate="CALENDAR.TO"></strong> {{ vm.calendarEvent.nextHomework.to }}</li>
                    </ul>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-note-outline" class="md-font icon-note-outline md-default-theme" aria-hidden="true"></md-icon>
                <div layout="column" flex>
                    <strong translate="CALENDAR.SMALL_TEST"></strong>
                    {{ vm.calendarEvent.smallTest }}
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-note-outline" class="md-font icon-note-outline md-default-theme" aria-hidden="true"></md-icon>
                <div layout="column" flex>
                    <strong translate="CALENDAR.NOTES"></strong>
                    {{ vm.calendarEvent.notes }}
                </div>
            </div>

        </div>

    </md-dialog-content>
</md-dialog>
